@model LifeGrids.ViewModels.LifeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>这是 @Model.ID - @Model.Account 的LifeGrids:</p>
        <p>生于: @Model.Birthday.ToShortDateString()</p>
        <p>自认为可以活到 @Model.HopeAge  岁</p>
        <hr />
        <p>共有 @Model.DaysInLife 个生命格子</p>
        <hr />
        @for (int i = 0; i < Model.DaysInLife; i++)
        {
            DateTime date = Model.Birthday.AddDays(i);
            <p>@Html.ActionLink(date.ToString("yyyy-MM-dd"), "Index", "Things", new { ID = i }, new { @title = $"生命中的第{i+1}天" })</p>
        }

    </div>
</body>
</html>
